<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="yandex-verification" content="597e53bcef876761" />
  <title>Саморазвитие для толковых людей</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <form>
    
    <form>


    <div class="jumbotron">
        <div class="container">
        <h1></h1>
               {% block content %}
               {% endblock %}
        </p>
        <p>
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Статьи &raquo;</a>
         <a href="/contact" class="btn btn-info btn-lg">Контакты &raquo;</a>

        </p>
        </div>
      </div>
      <div class="container">
         <img src="https://цитаты.рус/sites/default/files/jobs1.jpg" class="img-thumbnail">
         <img src="https://sun1-22.userapi.com/c850628/v850628896/124705/BGN1108fSP8.jpg" class="img-thumbnail">
          <img src="https://sun1-92.userapi.com/c543108/v543108210/4f4c3/8U_sCZBpQVI.jpg" class="img-thumbnail">
          <img src="{% static 'mainApp/image/Screenshot_20191110-235044_YouTube.jpg' %}" class="img-thumbnail">
  
          <img src="" class="img-thumbnail">
          <img src="" class="img-thumbnail">
          <img src="" class="img-thumbnail">
     <p></p>
       <hr>
      &raquo; Все права защищены 2019

</bdy>
</html>
